.page-projects {
  height: 100vh;
  width: 100%;
}

.page-projects > .menu {
  position: absolute;
  z-index: 1;
}

.page-projects > .drawer {
  pointer-events: none;
}

.page-projects > .drawer > * {
  pointer-events: visible;
}

.page-projects-drawer-content > .close:hover {
  color: red;

}

.clickable {
  cursor: pointer;
}