.page-projects {
  height: 100vh;
  width: 100%;
}

.page-projects > .menu {
  position: absolute;
  z-index: 1;
}

.page-projects > .drawer {
  pointer-events: none;
}

.page-projects > .drawer > * {
  pointer-events: all;
}

.page-projects-drawer-content {
  width: 250px;
}

.page-projects-drawer-content-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page-projects-drawer-content-controls > .close:hover {
  color: red;
}

.clickable {
  cursor: pointer;
}

.page-projects-drawer-content-components > .react-flow__node {
  position: unset;
  width: fit-content;
  margin: 5px;
  -webkit-user-drag: element;
}
